<div class="my-5">
	<p class="text-center">
		<a href="{{path('dashboards_adherent_associations_browse' , { slug : profile.slug } ) }} " class="btn principal-color">Rejoindre une association</a>
	</p>
</div>
