{% extends 'baseDashboardAdherent.html.twig' %}

{% block title %}Hello AdherentsActionsController!
{% endblock %}

{% block body %}

	<div id="main">

		<header class="mb-3">
			<a href="#" class="burger-btn d-block d-xl-none default-color">
				<i class="fa fa-bars fs-3" aria-hidden="true"></i>
			</a>
		</header>

		<div class="row m-5">
			<div class="card col-lg-3">
				{%  include "dashboards/adherent/_rubriques_partials/_events.html.twig"  %}
			</div>
			<div class="card col-lg-3">
				{%  include "dashboards/adherent/_rubriques_partials/_my_events.html.twig"  %}
			</div>
		</div>
	</div>
{% endblock %}
