{% extends 'base_auth.html.twig' %}

{% block title %}Password Reset Email Sent
{% endblock %}

{% block body %}
	<div class="authPage">
		<div class="auth-picture" style="background-image : url({{ asset('assets/checkEmail.jpg') }})  ;  background-size: cover;">
			{%  include "_partials/_logo.html.twig" %}
		</div>
		<div class="containerForm">
			<div class="screen">
				<p>
					Si un compte correspondant à votre e-mail existe, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe. Ce lien expirera dans
					{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
				</p>
				<p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou
					<a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
			</div>
		</div>
	</div>
</div>{% endblock %}
