body {
  /* background-image: url("/assets/stadium.jpg");
  opacity: 0.75;
  height: 100%;
  width: 100%;
  background-size: cover; */
  font-family: "Prompt", sans-serif;
}

body::after {
  content: "";
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#title {
  font-size: 17rem;
  color: azure;
  margin: 20% 25%;
  text-shadow: 5px 3px 3px rgb(0, 255, 106);
}

@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

.header {
  /* min-height: 60vh; */
  background: #009fff;
  background-image: -webkit-linear-gradient(150deg, #013a6b 35%, #004e95 35%);
  color: white;
  /* clip-path: ellipse(100vw 60vh at 50% 50%); */
  /* clip-path: ellipse(16vw 19vh at 51% 42%); */
  width: 18rem;
  height: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto;
}

.details {
  text-align: center;
}

.profile-pic {
  height: 6rem;
  width: 6rem;
  object-fit: center;
  border-radius: 50%;
  border: 2px solid #fff;
}

.location p {
  display: inline-block;
}

.location svg {
  vertical-align: middle;
}

.heading {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 1rem 0;
}

.team {
  margin: 3em 0;
  min-width: 950px;
}

.team-div {
  margin: auto;
  background: #2c3e500a;
}

.title-team {
  border-bottom: 2px solid #000;
}

.granimate {
  background-color: #013a6b;
  animation: hue 11s linear 0s infinite reverse;
}
.granimate::before {
  animation: hue 12s linear 1s infinite;
}

@keyframes hue {
  to {
    filter: hue-rotate(40deg);
  }
}
