<div class="card col-3 p-0 activity-card-body" style="background: url({{ activity.picture }}); background-size: cover; ">
	<div class="card-content text-center">
		<div class="card-body">
			<h3 class="card-text activity-card-body-title">
				<span class="text-bold-500"></span>
				{{ activity.name }}
			</h3>
			<a href="{{ path }}" class="btn principal-color">
				{{ buttonName }}
			</a>
		</div>
	</div>
</div>
