<div class="box-container-activity">
	<div class="box-activity box-body-activity">
		<img src="{{ asset('pictures/activity/')~ activity.picture }}" alt="">
		<div class="caption">
			<div class="content">
				<span>{{activity.name}}</span>
				<a href="{{ path }}" class="btn principal-color">
					{{ buttonName }}
				</a>
			</div>
		</div>
	</div>
</div>
