{% extends 'baseDashboardAdherent.html.twig' %}

{% block title %}Nouveau Dossier!
{% endblock %}

{% block body %}

	<div id="main">
		<h1>new</h1>
		{%  include "dashboards/adherent/file/_newFileForm.html.twig" %}
	</div>

{% endblock %}
