{% block stylesheets %}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ asset('assets/css/403.css') }}">
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
	<div class="row" id="forbidden-page">
		<div class="col picture-forbidden" style="background-image : url({{ asset('assets/403.jpg') }})  ;  background-size: 33% auto;"></div>
		<div class="col message-forbidden">
			<h1>403</h1>
			<p>Oops, Vous n'avez pas les autorisations....</p>
			<a href="{{ path('app_login') }} " class="btn">Stadium</a>
		</div>
	</div>
{% endblock %}
